/* Les couleurs */
$bleu: #092d74;
$bg: #a0b0d1;
$rouge: #ef3832;
$white: #fff;
$noir: #231f20;

/* Typographie */ 
$font-text: "Nexa", Arial, Helvetica, sans-serif;
$font-logo: 'Ysabeau', sans-serif;