/* Les couleurs */
$bg: #ced8ec;
$header: #6a8aca;
$bleu: #092d74;
$rouge: #ef3832;
$white: #fff;
$noir: #231f20;

/* Typographie */ 
$font-text: 'Poppins', Arial, Helvetica, sans-serif; // 
$font-logo: 'Ysabeau', sans-serif;