@import '../../../sass/variables';


.mat-toolbar {
    background-color: $header;
    color: $white;
}

a {
    color: $white;
    text-decoration: none;
    &:hover{
        color:$bleu;
        font-weight: 700;
    }
}

@media screen and (min-width: 1024px) {
    
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    
}

@media screen and (max-width: 767px) {
    .mat-toolbar{
        display: none;
    }
    
}