<mat-toolbar>
  <mat-toolbar-row>
    <!-- <span class="example-spacer"></span>-->
    <a href="https://www.cegeptr.qc.ca/" target="_blank">Cégep de TR</a>
    <a href="https://www.cegeptr.qc.ca/aide-financiere/" target="_blank">Aide financière</a>
    <a href="https://www.cegeptr.qc.ca/etudiants-actuels/ecopasse/" target="_blank">Écopasse</a>
    <a href="https://www.cegeptr.qc.ca/residences/" target="_blank">Résidences - Demande d'admission</a>
    <a href="https://www.cegeptr.qc.ca/le-stationnement/" target="_blank">Stationnement</a>
    <a href="https://www.quebec.ca/education/aide-financiere-aux-etudes/" target="_blank">Demandes de prêts et bourses</a>
  </mat-toolbar-row>
</mat-toolbar>
