@import '../../../sass/variables';

.mat-toolbar {
    background-color: $header;
    color: $white;
}

.mat-toolbar-row{
    display: flex;
    justify-content: center;
}

a {
    color: $white;
    text-decoration: none;    
    font-size: 14px;
    margin: 0 10px;
        &:hover{
            color:$bleu;
        }
}

@media screen and (min-width: 1024px) {
    
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    
}

@media screen and (max-width: 767px) {
    .mat-toolbar{
        display: none;
    }
    
}