<mat-toolbar>
  <mat-toolbar-row>
    <!-- <span class="example-spacer"></span>-->
    <a href="https://www.cegeptr.qc.ca/">Cégep de TR</a>
    <a href="https://www.cegeptr.qc.ca/aide-financiere/">Aide financière</a>
    <a href="https://www.cegeptr.qc.ca/etudiants-actuels/ecopasse/">Écopasse</a>
    <a href="https://www.cegeptr.qc.ca/residences/">Résidences - Demande d'admission</a>
    <a href="https://www.cegeptr.qc.ca/le-stationnement/">Stationnement</a>
    <a href="https://www.quebec.ca/education/aide-financiere-aux-etudes/">Demandes de prêts et bourses</a>
  </mat-toolbar-row>
</mat-toolbar>
