<section>
  <div class="container">
    <div class="flex-middle en-tete">
      <img src="../../../assets/images/logo_CampusCoin_bleu.png" alt="Logo CampusCoin">
      <h1 class="logo">CampusCoin</h1>
    </div>

    <form #inscriptionForm="ngForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-lg-6 col-md-6 mt-2">
          <div class="form-group">
            <label for="nom">Nom:</label>
            <input type="text" class="form-control" id="nom" name="nom" [(ngModel)]="nom" required
              (blur)="nomValid = inscriptionForm?.controls?.['prenom']!.valid">
            <div
              *ngIf="!nomValid && (inscriptionForm.controls?.['prenom']?.dirty || inscriptionForm.controls?.['prenom']?.touched)"
              class="text-danger">
              <div *ngIf="inscriptionForm.controls?.['prenom']?.errors?.['required']">
                Le prénom est obligatoire.
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 mt-2">
          <div class="form-group">
            <label for="prenom">Prénom:</label>
            <input type="text" class="form-control" id="prenom" name="prenom" [(ngModel)]="prenom" required
              (blur)="prenomValid = inscriptionForm?.controls?.['prenom']!.valid">
            <div
              *ngIf="!prenomValid && (inscriptionForm.controls?.['prenom']?.dirty || inscriptionForm.controls?.['prenom']?.touched)"
              class="text-danger">
              <div *ngIf="inscriptionForm.controls?.['prenom']?.errors?.['required']">
                Le prénom est obligatoire.
              </div>
            </div>
          </div>
        </div>

        <div class="col-12">
          <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" class="form-control" id="email" name="email" [(ngModel)]="email" required email
              (blur)="emailValid = inscriptionForm?.controls?.['email']!.valid">
            <div
              *ngIf="!emailValid && (inscriptionForm.controls?.['email']?.dirty || inscriptionForm.controls?.['email']?.touched)"
              class="text-danger">
              <div *ngIf="inscriptionForm.controls?.['email']?.errors?.['required']">
                L'email est obligatoire.
              </div>
              <div *ngIf="inscriptionForm.controls?.['email']?.errors?.['email']">
                L'email doit être valide.
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-6 col-md-6 mt-2">
          <div class="form-group">
            <label for="password">Mot de passe:</label>
            <input type="password" class="form-control" id="password" name="password" [(ngModel)]="password" required
              minlength="6" (blur)="passwordValid = inscriptionForm?.controls?.['password']!.valid" ng-pattern="/(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z])/">
            <div
              *ngIf="!passwordValid && (inscriptionForm.controls?.['password']?.dirty || inscriptionForm.controls?.['password']?.touched)"
              class="text-danger">
              <div *ngIf="inscriptionForm.controls?.['password']?.errors?.['required']">
                Le password est obligatoire.
              </div>
              <div *ngIf="inscriptionForm.controls?.['password']?.errors?.['minlength']">
                Le mot de passe doit contenir au moins 6 caractères.
              </div>
              <!-- OU <span ng-show="!inscriptionForm.password.$error.required &&  inscriptionForm.password.$error.pattern && inscriptionForm.password.$dirty">Doit contenir au moins 1 minuscule 1 majuscule, et un nombre ou un symbole. </span>-->
            </div>
          </div>
        </div>

<!-- source https://stackoverflow.com/questions/43259287/angularjs-compare-value-from-input-fields-password-and-password-confirmation?fbclid=IwAR0C9MFHpEIjGpqDuwmJmge1K_Gla76lqQl-GxYBm16gFMK_jEvrDql9w5Q
  <form name="userForm">
    <div class="form-group">
      <div>
        <input type="text" class="form-control" placeholder="Username" ng-model="formData.username" required />
      </div>
      <div>
        <input type="email" id="email" name="email" class="form-control" placeholder="Email Address" ng-model="formData.email" required />
      </div>

      <div>
        <input name="password" type="password" class="form-control" placeholder="Password" ng-model="formData.password" ng-pattern="/(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z])/" required />
        <span ng-show="!userForm.password.$error.required &&  userForm.password.$error.pattern && userForm.password.$dirty">Must contain one lower &amp; uppercase letter, and one non-alpha character (a number or a symbol.)</span>
      </div>

      <div>
        <input name="confirm_password" type="password" class="form-control" placeholder="Confirm Password" ng-model="formData.confirmPassword" ng-pattern="formData.password" required />
        <span ng-show="formData.password != formData.confirmPassword">Your passwords must match.</span>
      </div>

      <div>
        <button type="submit" id="create-user-button" ng-disabled="formData.password != formData.confirmPassword" ng-click="createUser()">Create User</button>
      </div>
    </div>
  </form>
-->

        <div class="col-lg-6 col-md-6 mt-2">
          <div class="form-group">
            <label for="repassword">Confirmation du mot de passe:</label>
            <!-- <input type="password" class="form-control" id="repassword" name="repassword" [(ngModel)]="repassword"
            minlength="6" required [compareWith]="password"
              (blur)="repasswordValid = inscriptionForm?.controls?.['repassword']!.valid"> -->
            <input type="password" class="form-control" id="repassword" name="repassword" [(ngModel)]="repassword"
            minlength="6" required (blur)="repasswordValid = inscriptionForm?.controls?.['repassword']!.valid" ng-pattern="formData.password"> 
            <div
              *ngIf="!repasswordValid && (inscriptionForm.controls?.['repassword']?.dirty || inscriptionForm.controls?.['repassword']?.touched)"
              class="text-danger">
              <div *ngIf="inscriptionForm.controls?.['repassword']?.errors?.['required']">
                La confirmation du mot de passe est obligatoire.
              </div>
              <div *ngIf="inscriptionForm.controls?.['repassword']?.errors?.['minlength']">
                Le mot de passe doit contenir au moins 6 caractères.
              </div>
              <div *ngIf="inscriptionForm.controls?.['repassword']?.errors?.['compareWith']">
                Les mots de passe ne correspondent pas.
              </div>
              <span ng-show="formData.password != formData.repassword"> Les mots de passe ne correspondent pas.</span>
              <!-- <div *ngIf="inscriptionForm.submitted && inscriptionForm.controls['repassword'].hasError('passwordMismatch') ">
                Les mots de passe ne correspondent pas.
              </div> -->
            </div>
          </div>
        </div>
      </div>

      <div class="form__btn">
        <button type="submit" class="btn" [disabled]="!inscriptionForm.form.valid" id="create-user-button" ng-disabled="formData.password != formData.confirmPassword" ng-click="createUser()">Créer compte</button>
        <button type="button" class="btn btn-cancel ms-2" (click)="annuler()">Annuler</button>
      </div>

    </form>
  </div>
</section>
