<header>
  <app-header></app-header>
</header>

<h1>Liens Utiles</h1>

<mat-nav-list class="center">
  <ul>
    <li>
      <a href="https://www.cegeptr.qc.ca/" target="_blank"
        ><i class="cegep fa-solid fa-house"></i>Cégep de TR</a
      >
    </li>
    <li>
      <a href="https://www.cegeptr.qc.ca/aide-financiere/" target="_blank"
        ><i class="aide fa-solid fa-dollar-sign fa-lg"></i>Aide Financière</a
      >
    </li>
    <li>
      <a
        href="https://www.cegeptr.qc.ca/etudiants-actuels/ecopasse/"
        target="_blank"
        ><i class="ecopasse fa-solid fa-ticket"></i>Écopasse</a
      >
    </li>
    <li>
      <a href="https://www.cegeptr.qc.ca/residences/" target="_blank">
        <i class="residences fa-solid fa-bed"></i>Résidences - Demande
        d'admission</a
      >
    </li>
    <li>
      <a href="https://www.cegeptr.qc.ca/le-stationnement/" target="_blank">
        <i class="stationemment fa-solid fa-square-parking"></i>Stationemment</a
      >
    </li>
    <li>
      <a
        href="http://www.afe.gouv.qc.ca/tous-les-formulaires/detail/demande-de-prets-et-bourses/"
        target="_blank"
        ><i class="demandes fa-solid fa-sack-dollar"></i>Demandes de prêts et
        bourses</a
      >
    </li>
  </ul>
</mat-nav-list>
