<section>
    <div class="container">
        <div>
            <h1>Mon profil</h1>
        </div>

        <form #inscriptionForm="ngForm" (ngSubmit)="onSubmit()">
            <div class="row">
              <div class="col-lg-12">
                <div class="form-group">
                  <label for="nom">Nom:</label>
                  <input type="text" class="form-control" id="nom" name="nom" [(ngModel)]="nom" required
                    (blur)="nomValid = inscriptionForm?.controls?.['prenom']!.valid">
                  <div
                    *ngIf="!nomValid && (inscriptionForm.controls?.['prenom']?.dirty || inscriptionForm.controls?.['prenom']?.touched)"
                    class="text-danger">
                    <div *ngIf="inscriptionForm.controls?.['prenom']?.errors?.['required']">
                      Le prénom est obligatoire.
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-12">
                <div class="form-group">
                  <label for="prenom">Prénom:</label>
                  <input type="text" class="form-control" id="prenom" name="prenom" [(ngModel)]="prenom" required
                    (blur)="prenomValid = inscriptionForm?.controls?.['prenom']!.valid">
                  <div
                    *ngIf="!prenomValid && (inscriptionForm.controls?.['prenom']?.dirty || inscriptionForm.controls?.['prenom']?.touched)"
                    class="text-danger">
                    <div *ngIf="inscriptionForm.controls?.['prenom']?.errors?.['required']">
                      Le prénom est obligatoire.
                    </div>
                  </div>
                </div>
              </div>
      
              <div class="col-12">
                <p><strong>Email :</strong> email@gmail.com</p>
              </div>
      
              <div class="col-lg-6 col-md-6 mt-2">
                <div class="form-group">
                  <label for="password">Mot de passe:</label>
                  <input type="password" class="form-control" id="password" name="password" [(ngModel)]="password" required
                    minlength="6" (blur)="passwordValid = inscriptionForm?.controls?.['password']!.valid">
                  <div
                    *ngIf="!passwordValid && (inscriptionForm.controls?.['password']?.dirty || inscriptionForm.controls?.['password']?.touched)"
                    class="text-danger">
                    <div *ngIf="inscriptionForm.controls?.['password']?.errors?.['required']">
                      Le password est obligatoire.
                    </div>
                    <div *ngIf="inscriptionForm.controls?.['password']?.errors?.['minlength']">
                      Le mot de passe doit contenir au moins 6 caractères.
                    </div>
                  </div>
                </div>
              </div>
      
              <div class="col-lg-6 col-md-6 mt-2">
                <div class="form-group">
                  <label for="repassword">Confirmation du mot de passe:</label>
                  <!-- <input type="password" class="form-control" id="repassword" name="repassword" [(ngModel)]="repassword"
                  minlength="6" required [compareWith]="password"
                    (blur)="repasswordValid = inscriptionForm?.controls?.['repassword']!.valid"> -->
                  <input type="password" class="form-control" id="repassword" name="repassword" [(ngModel)]="repassword"
                  minlength="6" required
                    (blur)="repasswordValid = inscriptionForm?.controls?.['repassword']!.valid">
                  <div
                    *ngIf="!repasswordValid && (inscriptionForm.controls?.['repassword']?.dirty || inscriptionForm.controls?.['repassword']?.touched)"
                    class="text-danger">
                    <div *ngIf="inscriptionForm.controls?.['repassword']?.errors?.['required']">
                      La confirmation du mot de passe est obligatoire.
                    </div>
                    <div *ngIf="inscriptionForm.controls?.['repassword']?.errors?.['minlength']">
                      Le mot de passe doit contenir au moins 6 caractères.
                    </div>
                    <div *ngIf="inscriptionForm.controls?.['repassword']?.errors?.['compareWith']">
                      Les mots de passe ne correspondent pas.
                    </div>
                    <!-- <div *ngIf="inscriptionForm.submitted && inscriptionForm.controls['repassword'].hasError('passwordMismatch') ">
                      Les mots de passe ne correspondent pas.
                    </div> -->
                  </div>
                </div>
              </div>
            </div>
      
          </form>

        <button type="button" class="btn">Ok</button>
        <button type="button" class="btn btn-cancel ms-2">Annuler</button>
    </div>
</section>