@import '../../../sass/variables';

.calculator {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 2fr repeat(5, 1fr);
  padding: 1rem;
  max-width: min(100%, 500px);
  border-radius: 15px;

  .displays {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 0.3rem;
    grid-column: 1 / -1;
    grid-row: 1;
    background-color: $noir;
    color: $bg;
      &:hover {
        color: $white;
      }
    font-size: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;

    .display {
      width: 100%;
      text-align: right;
      font-size: 2rem;
      font-weight: bold;
    }

    .operations {
      font-size: 0.8rem;
      font-weight: 500;
      min-height: 20px;
    }
  }

  .operators {
    grid-column: 4;
    grid-row: 2 / -1;
    display: grid;
    grid-gap: 0.3rem;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    align-items: center;
    background-color: $noir;
    color: $bg;
      &:hover {
        color: $white;
        }
    font-size: 2rem;
    padding: 1rem;
    padding-top: 0;
    border-bottom-right-radius: 12px;

    .operator {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      transition: all 0.3s ease-in-out;

      &.clear {
        grid-column: 1 / -1;
      }
    }
  }

  .numbers {
    display: grid;
    grid-column: 1 / 4;
    grid-row: 2 / -1;

    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 0.3rem;

    background-color: $noir;
    padding: 1rem;
    padding-top: 0;
    padding-right: 0;
    border-bottom-left-radius: 12px;
  }

  .mat-flat-button.mat-primary, .mat-raised-button.mat-primary, .mat-fab.mat-primary, .mat-mini-fab.mat-primary {
    background-color: $bleu;
      &:hover {
        border: 2px solid $bleu;
        background-color: $white;
        color: $bleu;
      }
  }

  .mat-flat-button.mat-accent, .mat-raised-button.mat-accent, .mat-fab.mat-accent, .mat-mini-fab.mat-accent {
    background-color: $rouge;
      &:hover {
        border: 2px solid $rouge;
        background-color: $white;
        color: $rouge;
      }
  }

  .mat-flat-button.mat-warn, .mat-raised-button.mat-warn, .mat-fab.mat-warn, .mat-mini-fab.mat-warn {
    background-color: $rouge;
      &:hover {
        border: 2px solid $rouge;
        background-color: $white;
        color: $rouge;
      }
  }

}
