<div class="flex-middle">
  <div class="calculator">
    <section class="displays">
      <div class="operations display">{{ secondDisplay }}</div>
      <div class="value display">{{ display }}</div>
    </section>
    <section class="operators">
      <button
        (click)="clear()"
        type="button"
        mat-raised-button
        color="warn"
        class="clear operator"
      >
        {{ clearButtonValue }}
      </button>
      <button
        (click)="add($event)"
        type="button"
        mat-raised-button
        color="primary"
        class="operator"
      >
        &#43;
      </button>
      <button
        (click)="add($event)"
        type="button"
        mat-raised-button
        color="primary"
        class="operator"
      >
        &#45;
      </button>
      <button
        (click)="add($event)"
        type="button"
        mat-raised-button
        color="primary"
        class="operator"
      >
        &#247;
      </button>
      <button
        (click)="add($event)"
        type="button"
        mat-raised-button
        color="primary"
        class="operator"
      >
        &#215;
      </button>
      <button
        (click)="add($event)"
        type="button"
        mat-raised-button
        color="primary"
        class="operator"
      >
        &#37;
      </button>
      <button
        (click)="add($event)"
        type="button"
        mat-raised-button
        color="accent"
        class="equals operator"
      >
        &#61;
      </button>
    </section>
    <section class="numbers">
      <button
        (click)="add($event)"
        type="button"
        mat-raised-button
        color="primary"
      >
        7
      </button>
      <button
        (click)="add($event)"
        type="button"
        mat-raised-button
        color="primary"
      >
        8
      </button>
      <button
        (click)="add($event)"
        type="button"
        mat-raised-button
        color="primary"
      >
        9
      </button>
      <button
        (click)="add($event)"
        type="button"
        mat-raised-button
        color="primary"
      >
        4
      </button>
      <button
        (click)="add($event)"
        type="button"
        mat-raised-button
        color="primary"
      >
        5
      </button>
      <button
        (click)="add($event)"
        type="button"
        mat-raised-button
        color="primary"
      >
        6
      </button>
      <button
        (click)="add($event)"
        type="button"
        mat-raised-button
        color="primary"
      >
        1
      </button>
      <button
        (click)="add($event)"
        type="button"
        mat-raised-button
        color="primary"
      >
        2
      </button>
      <button
        (click)="add($event)"
        type="button"
        mat-raised-button
        color="primary"
      >
        3
      </button>
      <button
        (click)="add($event)"
        type="button"
        mat-raised-button
        color="primary"
      >
        0
      </button>
      <button
        (click)="add($event)"
        type="button"
        mat-raised-button
        color="accent"
      >
        .
      </button>
    </section>
  </div>
</div>
