/* You can add global styles to this file, and also import other style files */
@import './sass/variables';

html,
body {
  height: 100%;
  font-family: $font-text !important;
}

body {
  margin: 0;
  background-color: $bg;
}

h1,h2,h3,h4,h5,h6{
    font-family: $font-text !important;
    color: $bleu;
}

section{
  padding-top: 5em;
  padding-bottom: 5em;
}

.flex-middle{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}