<section>
    <div class="container flex-middle">
        <div class="row">
            <div class="col-12 mb-5">
                <h1>Solde</h1>
            </div>
            <div class="col-12">
                <p id="solde-principal">00.00$</p>
            </div>
            <div class="col-6">
                <a class="mat-raised-button" href="">Revenus</a>
                <p class="solde">00.00$</p>
            </div>
            <div class="col-6">
                <a class="mat-raised-button" href="">Dépenses</a>
                <p class="solde">00.00$</p>
            </div>
        </div>
        <div>
            <floating-calculator-button></floating-calculator-button>
        </div>
    </div>
</section>
