@import '../../../sass/variables';

.flex-middle{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

img{
  width: 100%;
}

.logo{
  width:40%;
  margin: 2em 0;
}

h2{
  text-align: center;
}

.btn {
  width: 150px;
  background-color: $bleu;
  color: $white;
  border: 2px solid $bleu;
    &:hover{
      border: 2px solid $bleu;
      background-color: $white;
      color: $bleu;
    }
}


@media screen and (min-width: 1024px) {
    
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    
}

@media screen and (max-width: 767px) {
    .btn-block {
        display: block;
        width: 100%;
        margin-left: 0;
      } 

      .logo{
        width:60%;
        max-width: 60%;
      }
}