<section>
  <div class="container flex-middle">
    <div class="row flex-middle">
      <div class="col-12">
        <h2>Bienvenue sur votre gestionnaire de budget</h2>
      </div>
      <div class="logo">
        <img src="../assets/images/logo_CampusCoin_bleu.png" alt="Logo CampusCoin">
      </div>

    </div>
    <div class="row">
      <div class="col-12 col-md-6">
        <a class="btn btn-block mb-3" href="#">Se connecter</a>
      </div>
      <div class="col-12 col-md-6">
        <a class="btn btn-block" href="#">S'inscrire</a>
      </div>
    </div>
  </div>
</section>
